.status-bar{
    position: absolute;
    top: 20px;
    left: 0;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    z-index: 50;
}

.status-bar-left {
    padding-left: 40px;
    font-size: 12px;
    font-weight: 600;
    color: #000000;
}

.status-bar-right {
    margin-top: -6px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
}

.status-bar-right-icon {
    width: 16px;
    height: 16px;
    color: #000000;
}