.iphone-loading-container {
    height: 6px;
    width: 100%;
    background-color: #e0e0de;
    border-radius: 50px;
    margin: 50px;
}

.iphone-loading-filler {
    height: 100%;
    background-color: #3BC5E5;
    border-radius: 50px;
    text-align: center;
    transition: width 1s ease-in-out;
}