.loan-item-container {
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loan-item-details-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.loan-item-actions-container {
    display: flex;
    flex-direction: column;
}

.loan-item-overview-container {
    display: flex;
    flex-direction: row;
    height: 100%;
    padding: 10px 0px;
    row-gap: 10px;  
    cursor: pointer;
}

.loan-item-overview-content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    width: 100%;
}

.loan-item-overview-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #000000;
    font-size: 12px;
    font-weight: 600;
}

.loan-item-overview-description,
.loan-item-repayment-progress-outstanding-amount {
    display: flex;
    align-items: end;
    column-gap: 4px;
}

.loan-item-overview-amount,
.loan-item-repayment-progress-outstanding-amount-value {
    margin-bottom: -4px;
}

.loan-item-overview-interest-rate {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.loan-item-overview-interest-rate-icon {
    width: 16px;
    height: 16px;
    color: #797777;
}

.loan-item-overview-interest-rate-container {
    display: flex;
    align-items: center;
    column-gap: 4px;
}

.loan-item-action-item {
    width: 20px;
    height: 20px;
    color: #464646;
    cursor: pointer;
    background-color: none;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px;

    &:hover {
        background-color: #f0f0f0;
    }

    &:active {
        background-color: #e0e0e0;
    }
}

.loan-item-hidden-container {
    display: flex;
    flex-direction: column;
}

.loan-item-repayment-progress {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-bottom: 10px;
}

.loan-item-repayment-progress-outstanding-progress {
    display: flex;
    flex-direction: column;
    row-gap: 16px;
    margin-bottom: 8px;
    margin-top: 8px;
}

.loan-item-repayment-progress-outstanding-progress-paid {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loan-item-repayment-progress-outstanding-summary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loan-item-repayment-progress-outstanding-summary-item {
    display: flex;
    flex-direction: column;
}

.loan-item-repayment-transactions {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin: 12px 0px;
}

.loan-item-repayment-transactions-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.loan-item-repayment-transactions-list {
    display: flex;
    flex-direction: column;
    row-gap: 8px;
}