.user-profile-container {
    padding: 10px;
    padding-top: 20px;
    color: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: linear-gradient(to bottom, #ffffff, #2C839B10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.user-profile-text-container {
    display: flex;
    flex-direction: column;
}

.user-profile-welcome {
    font-size: 12px;
    font-weight: 400;
    color: #666666;
    text-decoration: none;
    cursor: default;
}

.user-profile-name {
    font-size: 16px;
    font-weight: 600;
    color: #474747;
}

.user-profile-image-container {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    overflow: hidden;
}

.user-profile-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}