.card {
    border: 1px solid rgb(223, 223, 223);
    padding: 12px;
    background-color: #f9f9f9;
    border-radius: 8px;
}

.card-title {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
}