.drawer-container {
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

.drawer-content {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    max-height: 90%;
    padding-bottom: 20px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    z-index: 1001;
    color: #000000; 
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.drawer-content-body {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
}

.drawer-content-body * {
    max-width: 100%;
    box-sizing: border-box;
}

.drawer-content-header {
    width: 100%;
}

.drawer-content-header-inner {
    display: grid;
    grid-template-columns: repeat(5, 1fr); 
    align-items: center;
    width: 100%;
}
.drawer-content-header-right {
    justify-self: end;
    padding: 10px;
}

.drawer-content-header-close {
    width: 20px;
    height: 20px;
    color: #464646;
    cursor: pointer;
    padding: 4px;
    transition: all 0.3s ease;
    &:hover {
        transform: scale(1.1);
        background-color: #f0f0f0;
        border-radius: 50%;
    }
    &:active {
        transform: scale(0.9);
    }
    &:focus {
        outline: none;
    }
    &:active {
        outline: none;
    }
    &:focus-visible {
        outline: none;
    }
}

.drawer-content-header-center {
    grid-column: 1 / span 4;
    display: flex;
    padding-left: 12px;
    justify-content: left;
    width: 100%;
}
.drawer-title {
    font-size: 12px;
    font-weight: 700;
    color: #464646;
    text-transform: uppercase;
    text-align: center;
    width: 100%;
}