.progress-bar-container {
    width: 100%;
    height: 8px;
    background-color: #e0e0e0;
    border-radius: 4px;
    margin-top: 4px;
}

.progress-bar {
    width: 100%;
    height: 8px;
    border-radius: 4px;
}


